{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

<div style="max-width: 700px; text-align: center; margin: 4rem auto;">
  <div>
    <img src="{{ target_project.image.url }}" alt=""
         style="height: 20rem; width: 20rem; border-radius: 20rem; margin-bottom: 2rem; object-fit: cover;">
    <h2 style="font-family: NotoSansR">
      {{ target_project.title }}
    </h2>
    <h4 style="margin-bottom: 2rem">
      {{  target_project.description }}
    </h4>

</div>

{% endblock %}